.anime-details{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(43, 42, 42);
    padding: 2%;
    box-sizing: border-box;

}
.picture-download{
    display: flex;
    width: 100%;
    box-sizing: border-box;

}
.anime-cover{
    width: 25%;
    margin-right: 10%;
}
.anime-cover img{
    width: 100%;
    aspect-ratio: 16/20;
}
.extra-details{
    display: flex;
    width: 100%;
}
.related-anime{
    width: 50%;
}
.storyline{
    flex-basis: 70%;
    color: white;
}
.download-details{
    width: 50%;
    color: white;
}
.download-form h2{
    width: 100%;
}
.download-form,form{
    width: 100%;
}